<main class="user-form">
  {{#if error}}<div class="form-errors">{{error}}</div>{{/if}}

  <form novalidate class="user-form__body" {{action "authenticate" on="submit"}}>

    <label class="label" for="email">Email address</label>
    {{input tabindex="1" id="email" name="email" class="input" type="email" value=email}}

    <label class="label" for="password">Password</label>
    {{link-to "Forgot?" "user.password.new" tabindex="4" class="u-text-s"}}
    {{input tabindex="2" id="password" name="password" class="input" type="password" value=password}}

    <button tabindex="3" class="user-form__body__btn btn btn--green btn--large">
      Log in
    </button>

    <div class="u-text-s u-text-center">
      Don't have an account? {{#link-to "user.new"}}Sign up here{{/link-to}}
    </div>
  </form>
</main>
