<header class="app-header">
  {{outlet "app-header"}}
  {{connection-indicator}}
</header>


<section class="sidebar">
  <header class="sidebar__header">
    <div class="sidebar__header__nav sidebar__header__nav">
      {{#dropdown-menu icon="nav" title="Navigation"}}
        <li>
          <span class="sidebar__header__nav__dropdown__header u-text-s u-margin-Rm">
            {{user.name}}
          </span>
        </li>

        <li>
          <a class="sidebar__header__nav__dropdown__item" href="mailto:help@scribly.co">
            <i class="sidebar__header__nav__dropdown__icon icon icon--question u-margin-Rxs"></i>
            Help &amp; Feedback
          </a>
        </li>

{{!-- TODO: re-release the iPhone app
         <li>
          <a class="sidebar__header__nav__dropdown__item" href="https://itunes.apple.com/gb/app/scribly/id896847758?mt=8">
            <i class="sidebar__header__nav__dropdown__icon icon icon--iphone u-margin-Rxs"></i>
            Get the iPhone app
          </a>
        </li>
--}}
        <li>
          <button {{action 'invalidateSession'}} class="sidebar__header__nav__dropdown__item">
            <i class="sidebar__header__nav__dropdown__icon icon icon--logout u-margin-Rxs"></i>
            Log out
          </button>
        </li>
      {{/dropdown-menu}}
    </div>

    <div class="sidebar__header__search">
      {{focusable-input isFocused=focusSearch class="input input--search" type="search" name="search" id="search" value=searchText}}
      {{#unless searchText}}
        <label class="sidebar__header__search__label" for="search">
          <i class="icon icon--search u-margin-Rxxs"></i>
          search
        </label>
      {{/unless}}
    </div>

    <button {{action "createNote"}} class="sidebar__header__add action u-c-light-grey" title="New note">
      <i class="icon icon--plus"></i>
      <span class="action__text">New note</span>
    </button>
  </header>

  <div class="sidebar__body">
    {{#if notes}}
      {{#ember-collection items=notes cell-layout=(fixed-grid-layout 298 72) as |note|}}
        {{#link-to "notes.note" note.id classNameBindings=":sidebar__body__list__item note.isSelected:is-selected"}}
          <span class="sidebar__body__list__item__title u-text-truncate u-inline-block">
            {{note.firstLine}}
          </span>
          <span class="sidebar__body__list__item__meta">
            {{time-ago date=note.updatedAt}}
          </span>

          <span class="sidebar__body__list__item__body u-text-truncate u-inline-block">
            {{note.secondLine}}
          </span>
        {{/link-to}}
      {{/ember-collection}}
    {{else}}
      <div class="sidebar__body__list">
        <div class="sidebar__body__empty">
          <p class="u-text-center">
            Welcome to Scribly<br />
            Add your first note here!
          </p>
        </div>
      </div>
    {{/if}}
  </div>
</section>

{{#if isShowingHelpModal}}
  {{#modal-dialog close="hideHelp"}}
    <h3 class="modal__header">Keyboard shortcuts</h3>

    <div class="modal__body">
      <p>
        Shortcuts are disabled when editing a note. Hit <span class="key">esc</span>
        to leave edit mode.
      </p>
      <ul class="key-list">
        <li><span class="key">n</span> New note</li>
        <li><span class="key">d</span> Delete current note</li>
        <li><span class="key">j</span> Go to next note</li>
        <li><span class="key">k</span> Go to previous note</li>
        <li><span class="key">f</span> Focus the cursor on the current note</li>
        <li><span class="key">/</span> Search notes</li>
      </ul>
    </div>
  {{/modal-dialog}}
{{/if}}

{{outlet}}